# ---------------------------------
# Python virtual environments
# ---------------------------------
venv/
.venv/
env/

# ---------------------------------
# Python cache / bytecode
# ---------------------------------
__pycache__/
*.py[cod]

# ---------------------------------
# Environment variables
# ---------------------------------
server/.env

# ---------------------------------
# Editor / OS files
# ---------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# ---------------------------------
# Logs
# ---------------------------------
*.log
